/* @tailwind base;
@tailwind components;
@tailwind utilities; */


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,body{
  min-height: 100%;
  width: 100%;
}

nav{

  gap:10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: max-content;
  padding-right: 60px;
  gap: 40px;
 
}

.href{
  text-decoration: none;
  color: blue;
  font-size: 17px;
  text-transform: capitalize;
}

#loading{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 10px solid rgba(128, 128, 128, 0.167);
  border-top: 10px solid skyblue;
  animation: loading 1s linear  infinite ;
}

@keyframes loading {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
    
  }
  
}